<%- include('partials/header') %>



<script>
    //script that detects if the loaded page has any data in it
    const path = window.location.pathname;
    const page = path.split('/artworks/page=')[1];
    const totalPagesNumber = <%= data.pagination.total_pages %>;
    
    if ( page > totalPagesNumber || page < 1) {
        window.alert("The current page does not exist in the API");
        history.back();
    }

</script>


<h1 style="color:#c55275; text-align:center; margin-top: 1rem;">All artworks</h1>
<h2 style="color:#c55275; text-align:center; margin-bottom: 3rem">Click any of the titles to view the artwork</h2>

<div class="resources">
    <table class="resources-table">
        <tr>
            <th>Title</th>
            <th>Reference Num.</th>
            <th>Place of Origin</th>
            <th>Department</th>
            <th>Artist</th>
        </tr>
        <% for(var i = 0; i < data.data.length; i++) { %>
        <tr>
            <td><a class="resources-item-link" href="/artworks/<%=data.data[i].id%>"><%=data.data[i].title%></a></td>
            <td><%= data.data[i].main_reference_number %></td>
            <td><%= data.data[i].place_of_origin %></td>
            <td><%= data.data[i].department_title %></td>
            <td><%= data.data[i].artist_title %></td>
        </tr>    
        <% } %>
    </table>



<div class="page-links">
    <% if(data.pagination.current_page > 1) { %>
    <a href="/artworks/page=<%=data.pagination.current_page-1%>"><</a>
    <% } %>
    <%if(data.pagination.current_page > 12) { %>
        <a href="/artworks/page=1">Start</a>
    <% } %>
    <% for(var i = data.pagination.current_page; i < data.pagination.current_page+12; i++) { %>
      
        <% if(data.pagination.current_page === i ) { %>
            <a class="active-page"><%=i%></a>
        <% } else if(i <= data.pagination.total_pages) { %>
            <a href="/artworks/page=<%=i%>"><%=i%></a>
        <% } %>
    <% } %>
    <a href="/artworks/page=<%=data.pagination.total_pages%>">End</a>
    <a href="/artworks/page=<%=data.pagination.current_page+1%>">></a>
</div>


    

<div id="manual-enter">
    <form id="form-manual-enter">
    <h6>Otherwise,enter a page number manually up to <%=data.pagination.total_pages%>:</h6>
    <div class="hidden" id="popup">You can only enter values between 1 and <%=data.pagination.total_pages%></div>
    <input class="num-input" required type="number" min="1" max="9737" id="page_input" value="" name="page_input" placeholder="Max:<%=data.pagination.total_pages%>" />
    <button id="submit-button" type="submit">Transfer to page</button>
</div>

<script>


    var totalPages = <%=data.pagination.total_pages%>;


    
    //setting the max allowed value of the number input
    var pageInput = document.getElementById("page_input");
    
    pageInput.addEventListener("change", (event) => {
        if (event.target.value == 0 || event.target.value > totalPages)
        {   
            event.target.value = "";
            $('#popup').removeClass('hidden');
            $('#popup').removeClass('fade-out');
            $('#popup').addClass('fade-in');
        } else if (event.target.value != null) {
            $('#popup').removeClass('fade-in');
            
            if ((document.getElementById('popup').classList.contains('hidden') === false)) {
                $('#popup').addClass('fade-out');
                $('#popup').addClass('hidden');
            }
            
        }
    })
    
    


    document.getElementById("form-manual-enter").addEventListener("click", function(event) {
        event.preventDefault();        
    });

    document.getElementById("submit-button").addEventListener("click", (event) => {
        const page_number = document.getElementById("page_input").value;
        if (page_number >= 1 && page_number <= totalPages) {
            this.location.href = `http://localhost:3000/artworks/page=${page_number}`;
           
        }
    });
</script>

</div>



<%- include('partials/footer') %>


